<table>
  <th>
  	<td>Year</td>
  	<td>Round</td>
  	<td>Pick</td>
  	<td>Overall</td>
  	<td>NFL Team</td>
  	<td>College Team</td>
  	<td>Position</td>
  </th>
	
  <tr>
  	<td></td>
  	<td><%= draft_selection.year %></td>
  	<td><%= draft_selection.round %></td>
  	<td><%= draft_selection.pick %></td>
  	<td><%= draft_selection.overall_selection %></td>
  	<td><%= draft_selection.nfl_team %></td>
  	<td><%= draft_selection.college_team %></td>
  	<td><%= draft_selection.position %></td>
  </tr>
	
</table>

